* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  background-color: cadetblue;
  color: white;
}

main{
  display: flex;
  align-items: center;
  justify-content: center;
}

.card{
  max-width: 80%;
  margin-top: 15vh;
  border: solid;
  border-width: 2px;
  padding: 5vw;
  border-radius: 30px;

}