* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  align-items: center;
}

header {
  background-color: blue;
  margin-bottom: 30px;
  text-align: center;
  padding: 20px;
  color: aliceblue;
}

#highscores-btn {
  float: left;
}

#question-1 {
  visibility: hidden;
}

#question-2 {
  visibility: hidden;
}

#question-3 {
  visibility: hidden;
}

#timer {
  float: right;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  border: 3px;
}
